#main {
	overflow: auto;
	padding-bottom: 5%;
	width: 40%;
	text-align: center;
	margin-top: 0px;
	position: relative;
	bottom: 20%;
	left: 30%;
	right: 30%;
	padding-top: 0px;
}



h2 {
	text-align: center;
	font-family: sans-serif;
}

.weighty {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;

}

.preview {
	text-align: left;
}

p.2 {
	padding-bottom: 1%;
}

figcaption {
	font-style: italic;
	text-align: center;
}

pre {
	text-align: left;
	background: #f3f3f7;
	border: solid 1px blue;
	color: blue;
	margin: 1.5%;
	padding-top: 2%;
}